# Scanning
gphoto2
pillow
pyserial
opencv-python

# Modelling - Metashape
https://s3-eu-west-1.amazonaws.com/download.agisoft.com/Metashape-1.8.1-cp35.cp36.cp37.cp38-none-win_amd64.whl; sys_platform == 'windows'
https://s3-eu-west-1.amazonaws.com/download.agisoft.com/Metashape-1.8.1-cp35.cp36.cp37.cp38-abi3-macosx_10_13_x86_64.whl; sys_platform == 'macos'
https://s3-eu-west-1.amazonaws.com/download.agisoft.com/Metashape-1.8.1-cp35.cp36.cp37.cp38-abi3-linux_x86_64.whl; sys_platform == 'linux'

# Modelling - Blender
bpy-build
wheel
https://github.com/TylerGubala/blenderpy/releases/download/v2.91a0/bpy-2.91a0-cp37-cp37m-manylinux2014_x86_64.whl 

# Processing
matplotlib
